<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="UriBase" value="http://www.sunat.gob.pe/cl-ti-itmrconsruc/"/>
      <add key="Comand" value="tesseract captcha.png captcha -psm 7"/>
      <add key="txt" value="captcha.txt"/>
      <add key="png" value="captcha.png"/>
      <add key="UriRuc" value="http://www.sunat.gob.pe/cl-ti-itmrconsruc/jcrS00Alias?accion=consPorRuc;nroRuc={0} ;codigo={1} ;tipdoc=1"/>
      <!--<add key="sss" value="http://www.sunat.gob.pe/cl-ti-itmrconsruc/jcrS00Alias?accion=consPorRuc&nroRuc=RUC&codigo=CAPTCHA"/>-->
    </appSettings>
</configuration>